<!-- Topbar -->


<div class="container-fluid">


    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Gestion des Professeurs</h1>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLongs">Créer un
            compte Professeur</button>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalLongs" data-backdrop="static" tabindex="-1" data-bs-keyboard="false"
        role="dialog" aria-labelledby="exampleModalLongsTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title text-white font-weight-bold" id="exampleModalLongs">Ajouter un Professeur
                    </h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- <div class="col-lg-5 d-none d-lg-block bg-register-image"></div> -->
                        <div class="col-lg-12">
                            <div class="p-5">
                                <form class="user">
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="text" class="form-control form-control-user"
                                                id="exampleFirstName" placeholder="Nom">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control form-control-user"
                                                id="exampleLastName" placeholder="Prenom">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user"
                                                    id="exampleInputEmail" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <div class="form-group ">
                                                <input type="phone" class="form-control form-control-user"
                                                    id="exampleLastName" placeholder="+225 07 01 02 03 04">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                <option selected>Nom du Module</option>
                                                <option value="1">Angular</option>
                                                <option value="2">C#</option>
                                                <option value="3">Boostrap</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <a href="login.html" class="btn btn-primary btn-user btn-block">
                                        Register Account
                                    </a>
                                    -->
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>



    <div class="card shadow mb-4">
        <div class="card-header bg-gradient-primary  py-3">
            <h2 class="m-0 font-weight-bold text-white text-center">Liste des Professeurs</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Nom & Prenom</th>
                            <th>Numero</th>
                            <th>Module</th>
                            <th>Année</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <img src="https://bigdataci.net/storage/photos/0UKpM7a15oI11obrDqyqtKwDMh9PLdLSgmCb4Hw6.png"
                                    alt="" srcset="" style="width: 60px;height: 60px;">
                            </td>
                            <td>Aube MBALI</td>
                            <td>0748753781</td>
                            <td>System Architect</td>
                            <td>18-06-2001</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="https://bigdataci.net/dist/images/defaut.png" alt="" srcset=""
                                    style="width: 60px;height: 60px;">
                            </td>
                            <td>Tiger Nixon</td>
                            <td>054237815</td>
                            <td>System Architect</td>
                            <td>18-06-2001</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->