<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-dark badge ">Gestion des Présences</h1>

    <div class="button-contair">
      <!-- <button type="button" class="btn btn-warning edit" [routerLink]="['presence', latestPresences.id,]">Editer</button> -->
      <button type="button" class="btn btn-primary" [routerLink]="['presence']">Nouvelle Feuille de Pointage</button>
    </div>
  </div>

  <div class="modal fade bd-example-modal-lg" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" *ngIf="user.role === 'Teacher'">
    <div class="modal-dialog modal-lg">
      <div class="modal-header bg-gradient-warning ">
        <h5 class="modal-title text-white  font-weight-bold" id="exampleModalLongs">
          Nouvelle Feuille de Présence
        </h5>

        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-content">
        <div class="row">
          <!-- <div class="col-lg-5 d-none d-lg-block bg-register-image"></div> -->
          <div class="col-lg-12">
            <div class="p-5">
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-4">

                  </div>
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="col-auto my-1">
                      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>Heure de debut</option>
                        <option value="8">8h</option>
                        <option value="9">9h</option>
                        <option value="10">10h</option>
                        <option value="11">11h</option>
                        <option value="12">12h</option>
                        <option value="13">13h</option>
                        <option value="14">14h</option>
                        <option value="15">15h</option>
                        <option value="16">16h</option>
                        <option value="17">17h</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Heure de fin</option>
                      <option value="8">8h</option>
                      <option value="9">9h</option>
                      <option value="10">10h</option>
                      <option value="11">11h</option>
                      <option value="12">12h</option>
                      <option value="13">13h</option>
                      <option value="14">14h</option>
                      <option value="15">15h</option>
                      <option value="16">16h</option>
                      <option value="17">17h</option>
                    </select>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Nom & Prenom</th>
                        <th>Email</th>
                        <th>Numero</th>
                        <th>Matiere</th>
                        <th>Pointé</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>Edinburgh</td>
                        <td class="text-center">
                          <div class="form-check  mb-3">
                            <input class="form-check-input p-2 btn-wite border-dark" type="checkbox" value=""
                              id="flexCheckDefault" style="margin-left: 50px;">
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger">Fermer</button>
                  <button type="button" class="btn btn-primary">Enregistrer</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow mb-4 my-5">
    <div class="card-header bg-color-yellow py-3">
      <h2 class="m-0 font-weight-bold text-white text-center">Liste du dernier Pointage</h2>
    </div>
    <div class="card-body">
      <div class="table-responsive">

        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Numero</th>
              <th>Module</th>
              <th>Interval d'heure</th>
              <th>Date</th>
              <th>Statut</th>
            </tr>
          </thead>

          <tbody *ngIf="lastPresences$ | async as lastPresences">
            <tr *ngFor="let presence of lastPresences.studentsPresenses">

              <td>{{ presence.first_name }}</td>
              <td>{{ presence.last_name }}</td>
              <td>{{ presence.phone }}</td>
              <td>{{ lastPresences.matter }}</td>
              <td>{{ lastPresences.startTime }} - {{ lastPresences.endTime }}</td>
              <td>{{ presence.date | date: 'dd/MM/yy' }}</td>
              <td>
                <span *ngIf="presence.is_present" class="badge badge-success">Present</span>

                <span *ngIf="!presence.is_present" class="badge badge-danger">Absent</span>
              </td>

            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
