<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar"
  style="background-color: #000000 !important;">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon ">
      <!-- <i class="fas fa-laugh-wink"></i> -->
      <img src="http://www.infisoftware.net/fr/img/logo/logo.png" alt="" style="width: 80px ;" srcset="">
    </div>
    <div class="sidebar-brand-text mx-3">Gestion des presences</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" routerLink="/admin/dashboard">
      <i class="fas fa-fw fa-tachometer-alt color-icon-nav"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">
  <!-- Heading -->
  <div class="sidebar-heading">
    Professor
  </div>
  <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/admin/presence-management" >
        <i class="fa fa-address-card color-icon-nav" aria-hidden="true"></i>
        <span>  Gestion des Pointages</span>
      </a>
    </li>


   
  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Student
  </div>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="/admin/my-scores" >
      <i class="fa fa-briefcase color-icon-nav" aria-hidden="true"></i>
      <span>  Mes Pointages</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="/admin/absence-request" >
      <i class="fa fa-child color-icon-nav"></i>
      <span>  Demande Absence</span>
    </a>
  </li>

   <!-- Divider -->
  <hr class="sidebar-divider">
  <!-- Heading -->
  <div class="sidebar-heading">
    Administrator
  </div>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/admin/score-list" >
        <i class="fa fa-graduation-cap color-icon-nav" aria-hidden="true"></i>
        <span class="active"> Liste des Pointages</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/admin/list-of-requests">
        <i class="fa fa-envelope-open color-icon-nav" aria-hidden="true"></i>
        <span>  Liste des demandes</span>
      </a>
      
    </li>
 
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
        aria-controls="collapseTwo">
        <i class="fa fa-users color-icon-nav"></i>
        <span>  Gestion des utilisateurs</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <!-- <h6 class="collapse-header">Custom Components:</h6> -->
          <a class="collapse-item" routerLink="/admin/user/administrators">Administrateurs</a>
          <a class="collapse-item" routerLink="/admin/user/professors">Professeurs</a>
          <a class="collapse-item" routerLink="/admin/user/students">Etudiants</a>
        </div>
      </div>
    </li><li class="nav-item">
      <a class="nav-link collapsed" routerLink="/admin/absence-request" >
        <i class="fas fa-fw fa-cog color-icon-nav"></i>
        <span> Modules</span>
      </a>
    </li>
  
 