<!-- <app-header></app-header> -->

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-center mb-4" >
        <h1 class="h3 mb-0 text-white-800 badge text-dark" >Gestion de mes Pointages</h1>
    </div>

    <div class="container">
        <div class="main-body">
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://bigdataci.net/storage/photos/0UKpM7a15oI11obrDqyqtKwDMh9PLdLSgmCb4Hw6.png" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                          <h4>Aube MBALI</h4>
                          <p class="text-info mb-1">Full Stack Developer </p>
                          <p class="text-dark mb-1">chez </p>
                          <p class="text-info mb-1">InFi Software (Joint-venture entre FINAFRICA, filiale du GROUPE DUVAL ET SPVIE ASSURANCES) </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h4 class="font-weight-bold color-icon-nav">Nom</h4>
                        </div>
                        <div class="col-sm-9 text-secondary">
                         Aube MBALI
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h4 class="font-weight-bold color-icon-nav">Mail</h4>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          aubembali@gmail.com
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                            <h4 class="font-weight-bold color-icon-nav">WhatsApp</h4>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          (255) 07 48 75 37 81
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                            <h4 class="font-weight-bold color-icon-nav">Numéro</h4>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          (255) 05 54 97 32 54
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h4 class="font-weight-bold color-icon-nav">Adresse</h4>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          Koumassi
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </div>


    <div class="card-header py-3 bg-color-yellow"  >
        <h2 class="m-0 font-weight-bold text-white text-center">Liste de mes Pointages</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Module</th>
                        <th>Interval d'heure</th>
                        <th>Date</th>
                        <th>Statut</th>

                </thead>

                <tbody>
                    <tr>
                        <td>c#</td>
                        <td>
                            <span class="badge badge-primary">
                                8h  -   12h
                            </span>
                        </td>
                        <td>18-06-2001</td>
                        <td>
                            <span class="badge badge-success">Present</span>
                        </td>

                    </tr>
                    <tr>
                        <td>Angular</td>
                        <td>
                            <span class="badge badge-primary">
                                8h - 12h
                            </span>
                        </td>
                        <td>18-06-2001</td>
                        <td>
                            <span class="badge badge-danger">Absent</span>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.container-fluid -->




