<!-- <app-header></app-header> -->

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4" >
        <h1 class="h3 mb-0 text-gray-800">Gestion de mes Pointages</h1>
    </div>
  

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h2 class="m-0 font-weight-bold text-center">Liste de mes Pointages</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom & Prenom</th>
                            <th>Numero</th>
                            <th>Module</th>
                            <th>Interval d'heure</th>
                            <th>Date</th>
                            <th>Statut</th>
                            
                    </thead>
                    
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>8h - 12h</td>
                            <td>18-06-2001</td>
                            <td>
                                <span class="badge badge-success">Present</span> | <span class="badge badge-danger">Absent</span>
                            </td>
                           
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->




